.dishes-list {
}
.ReactTable {
  height: 420px;

  &.entityManager {
    .rt-td {
      cursor: pointer;
    }
  }
  .action-cell {
    padding: 0;
    display: flex;
    align-items: stretch;
    div {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .icon.action {
        display: block;
        cursor: pointer;
      }
    }
  }
}
