body {
  background: #ffffff;
  #app {
    height: 100%;
  }
  .app-layout {
    display: flex;
    height: 100%;
    background: url("./images/foodBackground.jpg") no-repeat;
    background-size: cover;

    .login-layout {
      margin: auto;
      width: 350px;
      h2 > .content {
        color: rgb(206, 175, 36);
        margin-bottom: 20px;
      }
    }
    .home-layout {
      width: 100%;
      display: flex;
      margin: 30px 30px 0 30px;
      background: #ffffffb9;
      flex-direction: column;
      
      .home-body {
        background: #ffffff;
        height: 100%;
      }
    }
  }
}
